[user]
	name = Taiki Iwamura
	email = iwamura.taiki.43e@st.kyoto-u.ac.jp
[color]
	ui = auto
[alias]
	st = status
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	cm = commit -m
	difff = diff --word-diff
	ch = checkout
	br = branch
