[user]
	name = Taiki Iwamura
	email = takki.0206@gmail.com

[color]
	ui = auto

[color "diff"]
	meta = white bold
	frag = cyan bold
	old = red
	new = green

[alias]
	st = status
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	ll = log --pretty=oneline --graph --abbrev-commit -n
	cm = commit -m
	difff = diff --word-diff
	# display changes since the latest commit
	d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
	ch = checkout
	br = branch
	alias = config --get-regexp alias
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
